{% extends 'base.html.twig' %}

{% block body %}

<div class="mt-2">
<h1>Qui Sommes Nous?</h1>
</div>
<div class="mt-5 text-center">
<h1>Qui Sommes Nous?</h1>
<div class="container text-center">
<p>Nous sommes une groupe de tibétaines élevée en dehors du Tibet pour promouvoir notre culture et nos valeurs dans le reste du monde en vendant notre propre produit local au monde. Tout ce que vous voyez sur le site tibetandco sont des produits authentiques fabriqués en Inde, au Népal et au Tibet par des réfugiés tibétains et des Tibétains du Tibet.</p> 
{# <div>
        <img src="images/sumdho.jpg"
          class="img-fluid mb-5" alt="Sample image">
      </div>
</div> #}
</div>
{% endblock %}