{% extends 'base.html.twig' %}

{% block title %}Reset your password{% endblock %}

{% block body %}
<div class="container mt-5">
Reinstaller votre mot de passe
</div>
<div class="container mt-5">
    <h1 class="text-center">Reinstaller votre mot de passe</h1>

    {{ form_start(resetForm) }}
        {{ form_row(resetForm.plainPassword) }}
        <button class="btn btn-primary">Reinstaller</button>
    {{ form_end(resetForm) }}
    <br>
</div>
{% endblock %}
