{% extends '@EasyAdmin/page/content.html.twig' %}

{% block page_title %}
Tibetanproduct
{% endblock %}

{% block main %}{{ block('page_content') }}
<a href="{{ path('home')}}"><b>ACCUEIL-Tibetandco</b></a>
{% endblock %}